<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres?userAuthentication=postgres.aywedioliehffgxcthtc&amp;password=@pp13Sauc3#882004</property>
        <property name="hibernate.connection.username">postgres.aywedioliehffgxcthtc</property>
        <property name="hibernate.connection.password">@pp13Sauc3#882004</property>
        <!-- Other Hibernate properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>

        <!-- Entity Mappings -->
        <mapping class="org.example.asm2_insurance_claim_management_system.Admin.Admin"/>
        <mapping class="org.example.asm2_insurance_claim_management_system.Customers.Customer"/>
        <mapping class="org.example.asm2_insurance_claim_management_system.Customers.PolicyHolder"/>
        <mapping class="org.example.asm2_insurance_claim_management_system.Customers.PolicyOwner"/>
        <mapping class="org.example.asm2_insurance_claim_management_system.Customers.Dependent"/>
        <mapping class="org.example.asm2_insurance_claim_management_system.InsuranceCard.InsuranceCard"/>
        <mapping class="org.example.asm2_insurance_claim_management_system.Claim.Claim"/>
        <mapping class="org.example.asm2_insurance_claim_management_system.Claim.BankInfo"/>

    </session-factory>
</hibernate-configuration>